@font-face {
  font-family: poppins;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
}

*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
h2{
  background-color: aqua;
}

nav{
  display: flex;
  justify-content: start;
  height: 90px;
  padding: 20px 20px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}
.grid{
  width: 100%;
  margin: 0 auto;
}
main{
 
  
  padding: 20px 20px;
}

.title{
  padding: 40px 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
}

/* styling the card */
.card{
  padding: 20px;
  width: 290px;
  text-align: center;
  justify-content: center;
}
#star{
  display: flex;
  padding: 2px 2px;
  width: 264px;
  justify-content: center;
  
}
.star{
  margin: 2px 10px;
  width: 25px;
  
}
.rating{
  margin-top: 6px;
}

.cardList{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2;
}